In [1]:
%load_ext autoreload
%autoreload 2
from slack import SlackInteractor

In [45]:
interactor = SlackInteractor()
data = interactor.fetch_all_data()  # This will load old messages, fetch new ones, and save the combined result

No threads found in old_messages
Loaded 3 old messages

0it [00:00, ?it/s]

Saved 10 messages to complete_conversations.pkl

In [46]:
interactor.get_conversation_stats(data)

            max_len  total_length  total_messages  average_message_size
user_name
Agentflow2       23            62               4                  15.5
Eli.chen         23            81               6                  13.5

In [33]:
interactor.post_message('general', 'Hello, World!')

In [44]:
data

,ts,user,thread_ts,text,channel_id,text_clean,text_len,user_name,channel_name
0,2024-08-01 17:51:13.529489039,U07EU2TQ6HG,NaT,hi 2,C07EWH2GX7W,hi 2,4,Eli.chen,general
1,2024-07-31 23:07:08.356848955,U07EU2TQ6HG,NaT,hi,C07EWH2GX7W,hi,2,Eli.chen,general
2,2024-07-31 22:48:48.139799118,U07EU2TQ6HG,NaT,hello!,C07EWH2GX7W,hello!,6,Eli.chen,general